# Dependencies
portfolio_v3/node_modules/
node_modules/

# Production build
portfolio_v3/build/
build/

# IDE / Editor logs and configurations
.vscode/
.idea/
.DS_Store
*.log

# Environment variables
.env*
.env.local
.env.production
.env.development
.env.staging
